 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin: 3rem auto 0;
    padding: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./images/bg-top.svg");
    width: 100%;
    max-width: 375px;
    height: 100vh;
}

.plan {
    display: inherit;
    flex-direction: inherit;
    text-align: center;
    justify-content: space-evenly;
}

.plan h2, .dollarSign {
    color: #333333;
}

.plan h2 {
    font-size: 3rem;
}

.dollarSign {
    font-size: 0.8rem;
}

.plan .learnMore{
    background-color: hsl(237, 63%, 64%);
    color: #ffffff;
    border: 0;
    padding: 8px 26px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.plan .learnMore.current {
    background-color: #ffffff;
    color: hsl(237, 63%, 64%);
}