 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.container {
    background-image: url("./images/bg-top.svg");
    background-color: hsl(240, 78%, 98%);
    width: 100%;
    max-width: 375px;
    height: auto;
    padding: 2rem 1rem;
    transition: all .3s ease-in-out;
}

.container_annual {
    display: none;
}

.container.dark {
    background-color: #18191a;
}

.ourPricing{
    color: hsl(232, 13%, 33%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.toggle_container {
    display: flex;
}

.toggleDiv{
    position: relative;
    height: 48px;
    width: 86px;
    border-radius: 80px;
    background-color: #ffffff;
    box-shadow: 0 5px 10x rgba(0,0,0,0.1);
    cursor: pointer;
}

.toggleDiv::before{
    content: "";
    position: absolute;
    height: 40px;
    width: 40px;
    /* background-color: hsl(237, 63%, 64%); */
    background-color: #000;
    border-radius: 50%;
    top: 40%;
    left: 8px;
    transform: translateY(-40%);
    transition: all 0.3s ease-in-out;
}

.toggleDiv.active::before{
    left: calc(100% - 40px - 8px);
    background-color: #18191a;
}

.plan {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    margin: 3rem 0;
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 2rem;
}

.plan p, h3 {
    font-weight: 700;
    color: hsl(232, 13%, 33%);
    line-height: 1.9;
}

.plan h2, .dollarSign {
    color: hsl(232, 13%, 33%);
}

.plan h2 {
    display: flex;
    align-items: center;
    font-size: 3rem;
    margin: auto;
    color: hsl(232, 13%, 33%);
}

.dollarSign {
    font-size: 1.5rem;
}

.plan .learnMore{
    background-color: hsl(237, 63%, 64%);
    color: #ffffff;
    border: 0;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
}

.plan.professional {
    background-color: hsl(237, 63%, 64%);
    color: #ffffff;
}

.plan.professional .dollarSign, h2{
    color: #ffffff;
}

.plan.professional h2{
    color: #ffffff;
}

.plan hr {
    color: hsl(233, 13%, 49%);
    margin: 1rem 0;
}

.plan .learnMore.current {
    background-color: #ffffff;
    color: hsl(237, 63%, 64%);
}

.plan .learnMore.current hr {
    color: #ffffff;
}